dash==2.17.1
gunicorn==22.0.0
langchain==0.2.11
langchain_community==0.2.10
langchain_core==0.2.24
langchain_groq==0.1.8
feffery_antd_components==0.2.11
feffery_utils_components==0.1.29
PyMuPDF==1.24.9
python-dotenv==1.0.1